.card {
  height: 120px;
  width: 160px;
  margin: 20px;
  background: transparent;
  cursor: pointer;
  perspective: 1000px;
}

.card.active {
  transform: scale(1.05);
}

.flipper {
  transform-style: preserve-3d;
  transition: all 600ms;
  position: relative;
  width: 100%;
  height: 100%;
}

.card.active .flipper {
  transform: rotateY(180deg);
}

.cardFront,
.cardBack {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 600ms;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  border-radius: 6px;
}

.card:hover .cardFront,
card:hover .cardBack {
  /* border: 5px solid #86f3df; */
  transform: scale(1.15);
  border: 4px solid #f90505;
}

.cardBack {
  transform: rotateY(180deg);
  background-color: #e77c0a;
  border: 2px solid rgb(76, 82, 87);
}

.cardFront {
  background-color: #0f68a0;
  border: 2px solid rgb(76, 82, 87);
}
.shuffling {
  transform: rotateY(180deg);
}

@media screen and (max-width: 768px) {
  .card {
    height: 60px;
    width: 80px;
    margin: 0.5rem;
  }
}
